*{
    background-color: rgb(222, 225, 227);
}
.block-item{
    transform: translate(80%);
    margin-bottom: 10px;
    border-left: 10px solid rgb(74, 129, 207);
    padding: 2px 20px;
    text-align: start;
    height: 10rem;
    width: 30rem;
    background-color: white;
    border-radius: 25px;
}
h4{
    background-color: white;
    margin-left: 10px;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif ;
}
span{
    background-color: white;
    color: grey;
    font-weight: 700;
    font-size: 19px;
    margin-left: 5px;
}
.block-date{
    color: lightgrey;
    margin-left: 250px;
}