@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
*,
*::before,
*::after{
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 35px;
	background-color: rgba(95, 158, 160, 0.115);
}


.flex {
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	width: 60%;
	
}

.flex-item {
	border-left:8px solid rgb(15, 151, 236);
	padding: 2rem;
	flex: 0 0 10%;
	text-align: center;
	margin: 10px 0;
	border-radius: 8px;
	box-shadow:0 5px 8px 0 rgba(142, 137, 137, 0.767);
}


.flex-text{
	font-size: 18px;
	color:black;
	line-height: 32px;
}

.flex-rl{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: grey;
	margin-bottom: 15px;
	font-size: 14px;
}
.flex-item{
	background:whitesmoke;
  position: relative;
  top: 0;
  left: 0;
}
.flex-item:hover{
	box-shadow: 2px 2px gray, 4px 4px whitesmoke;
  top: -4px;
  left: -4px;
  cursor: pointer;
}