button{
    background-color: aquamarine;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: blueviolet;
    border-color: rgb(127, 206, 206);
}

input{
    border-radius: 8px; 
    height: 50px;
    border-color: rgb(127, 206, 206);
    
}