*,
*::before,
*::after{
	box-sizing: border-box;
}

.box {
	border-radius: 6px;
	width: 150px;
	padding: 1rem;
	background-color: #dedede;
	margin: 20px;
	border:1px solid black;
	
}

button {

	padding: 5px 15px;
	cursor: pointer;

}

.add {
	padding: 1rem 2rem;
	background-color: green;
	font-weight: 700;
}
.box.active {
	background-color: #ff0000;
}

pre {
	padding: 1rem;
	background-color: #444;
	color: #fff;
}