@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";


* {
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $menuLinkColor;
}

.App{
	@include myrools(28px)
}

button{
	margin-left: 40px;
	margin-top: 40px;
	width: 80px;
	height: 40px;
	background-color: grey;
	color: red;
	border: 2px solid red;
	cursor: pointer;
}